* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

.frequently {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
}
.frequently h1 {
  padding-bottom: 7px;
  font-size: 25px;
}
.how-to-track {
  height: auto;
  background-color: rgb(250, 250, 250);
  padding-top: 50px;
}
.grid-container,
.grid-container2 {
  height: auto;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
.grid-container h2,
.grid-container > :nth-child(2) {
  margin-bottom: 20px;
}
.grid-container h2,
.grid-container2 h2 {
  font-size: large;
}

p {
  font-size: 13px;
}
hr {
  border: none; /* remove default border */
  height: 2px; /* thickness of the line */
  background-color: black; /* color of the line */
  width: 50%; /* optional length */
  margin: 20px auto; /* center and spacing */
}
.grid-container2 .option {
  margin-bottom: 5px;
  line-height: 1.5;
}
.grid-container2 h2 {
  margin-bottom: 15px;
}
ol {
  padding-left: 1.5rem;
  margin-bottom: 15px;
}

li {
  padding-left: 0.4rem;
}
ul {
  padding-left: 1.5rem;
  margin-bottom: 15px;
}

li {
  padding-left: 0.4rem;
  font-size: 13px;
  line-height: 1.6;
}
a {
  color: rgb(0, 153, 255);
}

.grid-container2 > :last-child {
  margin-bottom: 40px;
}

/* Mobile devices */
@media screen and (max-width: 480px) {
  .how-to-track {
    height: auto;
    background-color: rgb(250, 250, 250);
    padding: 50px 40px 0px 40px;
  }
  .frequently {
    padding: 40px 40px;
    text-align: center;
    line-height: 1.4;
  }
  .option {
    font-size: 16.9px;
  }

  ol {
    padding-left: 1.5rem;
    line-height: 1.6;
  }

  li {
    padding-left: 0.4rem;
  }
  hr {
    border: none; /* remove default border */
    height: 2px; /* thickness of the line */
    background-color: black; /* color of the line */
    width: 100%; /* optional length */
    margin: 20px auto; /* center and spacing */
  }
  ul {
    padding-left: 1.5rem;
    line-height: 1.6;
  }

  li {
    padding-left: 0.4rem;
  }
  .grid-container > :last-child,
  .grid-container2 > :last-child {
    font-size: 13px;
  }
  .grid-container > :nth-child(2),
  .grid-container2 > :nth-child(2) {
    font-size: 13px;
  }
}

/* Tablets */
@media (max-width: 768px) and (min-width: 769px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
  }

  .author-info a {
    text-decoration: none;
  }

  .frequently {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
  }
  .frequently h1 {
    padding-bottom: 7px;
    font-size: 25px;
  }
  .how-to-track {
    height: auto;
    background-color: rgb(250, 250, 250);
    padding-top: 50px;
  }
  .grid-container,
  .grid-container2 {
    height: auto;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .grid-container h2,
  .grid-container > :nth-child(2) {
    margin-bottom: 20px;
  }
  .grid-container h2,
  .grid-container2 h2 {
    font-size: large;
  }

  p {
    font-size: 13px;
  }
  hr {
    border: none; /* remove default border */
    height: 2px; /* thickness of the line */
    background-color: black; /* color of the line */
    width: 100%; /* optional length */
    margin: 20px auto; /* center and spacing */
  }
  .grid-container2 .option {
    margin-bottom: 5px;
    line-height: 1.5;
  }
  .grid-container2 h2 {
    margin-bottom: 15px;
  }
  ol {
    padding-left: 1.5rem;
    margin-bottom: 15px;
  }

  li {
    padding-left: 0.4rem;
  }
  ul {
    padding-left: 1.5rem;
    margin-bottom: 14 px;
  }

  li {
    padding-left: 0.4rem;
    font-size: 13px;
    line-height: 1.6;
  }
  a {
    color: rgb(0, 153, 255);
  }

  .grid-container2 > :last-child {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
  }

  .author-info a {
    text-decoration: none;
  }

  .frequently {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
  }
  .frequently h1 {
    padding-bottom: 7px;
    font-size: 25px;
  }
  .how-to-track {
    height: auto;
    background-color: rgb(250, 250, 250);
    padding-top: 50px;
  }
  .grid-container,
  .grid-container2 {
    height: auto;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .grid-container h2,
  .grid-container > :nth-child(2) {
    margin-bottom: 20px;
  }
  .grid-container h2,
  .grid-container2 h2 {
    font-size: large;
  }

  p {
    font-size: 13px;
  }
  hr {
    border: none; /* remove default border */
    height: 2px; /* thickness of the line */
    background-color: black; /* color of the line */
    width: 50%; /* optional length */
    margin: 20px auto; /* center and spacing */
  }
  .grid-container2 .option {
    margin-bottom: 5px;
    line-height: 1.5;
  }
  .grid-container2 h2 {
    margin-bottom: 15px;
  }
  ol {
    padding-left: 1.5rem;
    margin-bottom: 15px;
  }

  li {
    padding-left: 0.4rem;
  }
  ul {
    padding-left: 1.5rem;
    margin-bottom: 15px;
  }

  li {
    padding-left: 0.4rem;
    font-size: 13px;
    line-height: 1.6;
  }
  a {
    color: rgb(0, 153, 255);
  }

  .grid-container2 > :last-child {
    margin-bottom: 40px;
  }
}
